# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/

# Django
backend/staticfiles/
backend/media/
.env
backend/.env
backend/.env.*

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

frontend_example/
.claude/settings.local.json
deploy_key
deploy_key.pub
